<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olá Mundo!</title>
    
    
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="../app/css/main.scss">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/Swiper/dist/css/swiper.css" />
    <!-- endbower -->
    <!-- endbuild -->


</head>
<body>
    <h1>Olá Mundo!</h1>


</body>

<!-- build:js js/app.min.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="../bower_components/Swiper/dist/js/swiper.js"></script>
<!-- endbower -->

<script src="../app/js/app.js"></script>
<!-- endbuild -->
</html>