<!DOCTYPE html>
<html lang="en">
<head>    
    

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#E8683E">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>Agência Bolt - Criamos produtos visuais inovadores</title>

    <link rel="stylesheet" href="css/main.css">
    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->


    <meta name="title" content="Agência Bolt - Criamos produtos visuais inovadores."/>
    <meta name="robots" content="index, follow">
    <meta name="reply-to" content="fale@agenciabolt.com.br"/>
    <meta name="description" content="Criamos produtos visuais inovadores para alavancar seu projeto. Nos conheça e impressione."/>
    <meta name="keywords" content="agencia, publicidade, website, site, banner, cartaz, grafica, online"/>
    <meta name="author" content="Agência Bolt"/>
    <meta name="Copyright" content="Copyright Agencia Bolt Digital LTDA 2015. All Rights Reserved."/>
    
    <meta itemprop="name" content="Agência Bolt - Criamos produtos visuais inovadores.">
    <meta itemprop="description" content="Criamos produtos visuais inovadores para alavancar seu projeto. Nos conheça e impressione.">
    <!-- <meta itemprop="image" content="http://i.imgur.com/VhThJLq.png"> -->
    
     <!-- Facebook -->
    <!-- <meta property="og:image" content="http://i.imgur.com/X2tJmRH.png"/> -->
    <meta property="og:url" content="http://www.agenciabolt.com.br/"/>
    <meta property="og:description" content="Criamos produtos visuais inovadores para alavancar seu projeto. Nos conheça e impressione."/>
    <meta property="og:site_name" content="Agência Bolt"/>
    <meta property="og:title" content="Agência Bolt - Criamos produtos visuais inovadores."/>
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:type" content="website"/>
    
     <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Agência Bolt - Criamos produtos visuais inovadores.">
    <meta name="twitter:description" content="Criamos produtos visuais inovadores para alavancar seu projeto. Nos conheça e impressione.">
    <meta name="twitter:creator" content="@agenciabolt">
    <!-- <meta name="twitter:image" content="http://i.imgur.com/VhThJLq.png"> -->
   
     <!-- Google -->
    <meta itemprop="name" content="Agencia Bolt - Criamos produtos visuais inovadores.">
    <meta itemprop="description" content="Criamos produtos visuais inovadores para alavancar seu projeto. Nos conheça e impressione.">
   <!--  <meta itemprop="image" content="http://i.imgur.com/VhThJLq.png"> -->
<!--     <link rel="author" href="https://google.com/+FoxbitBrasil/">
    <link href="https://plus.google.com/102444632149982378730" rel="publisher" /> -->
   
    <!-- Compra e venda bitcoins na mais nova plataforma de negociação de bitcoins do Brasil -->

    <link rel="icon" href="favicon.png">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "address": {
        "@type": "PostalAddress",
        "addressRegion": "BR",
        "addressLocality": "Aracaju",
        "postalCode": "49032-490",
        "streetAddress": "Av. Murilo Dantas, Farolândia"
      },
      "email": "fale@agenciabolt.com.br",
      "member": [
        {
          "@type": "Organization"
        },
        {
          "@type": "Organization"
        }
      ],
      "name": "Agência Bolt",
      "telephone": "075 9978 6312",
      "url": "http://www.agenciabolt.com.br/"
    }
    </script>



</head>
<body>
   
    <div class="container">
        <a href="." class="logo"><img src="img/logo-bolt.png" alt=""></a>
        <br>
        <img class="txt" src="img/texto.png" alt="">
        <br>

        <div class="redes">
            <p>Enquanto isso, veja por onde pode nos encontrar e ver nosso trabalho ;)</p>
            <br>
            <div class="list">
                <a href="http://behance.net/agenciabolt" class=""><i class="social social-Behance"></i></a>
                <a href="http://facebook.com/agenciabolt"><i class="social social-Facebook"></i></a>
            </div>
        </div>
    </div>

</body>

<!-- build:js js/app.min.js -->
<!-- bower:js -->
<!-- endbower -->
<script src="../app/js/app.js"></script>
<!-- endbuild -->
</html>